a {
  font-family: Impact;
  color: "white"
  font size: 36px;
}

h1 {
  font-family: Charcoal;
  color: "gold"
  font size: 36px;
}

p {
  font-family: sans-serif;
  color: "red"
  font size: 36px;
}
